{{#extend "scripts"}}
<script src="/js/history.js"></script>
<script src="/js/d3.v2.js"></script>
<script src="/js/rickshaw.min.js"></script>
<script src="/js/jquery-ui.min.js"></script>
{{/extend}}

{{#extend "stylesheets"}}
<link type="text/css" rel="stylesheet" href="/css/graph.css">
<link type="text/css" rel="stylesheet" href="/css/detail.css">
<link type="text/css" rel="stylesheet" href="/css/legend.css">
<link type="text/css" rel="stylesheet" href="/css/lines.css">
<link type="text/css" rel="stylesheet" href="/css/base/jquery-ui.css">
{{/extend}}

<div class="page-header">
    <h1>Currency history</h1>
</div>

<div id="chart_container">
    <div id="chart" class="rickshaw_graph"></div>
    <div id="legend"></div>
    <div id="slider" style="width: 960px;" class="ui-slider ui-slider-horizonal ui-widget ui-widget-content ui-corner-all">
        <div class="ui-slider-range ui-widget-header" style="left: 0%; width: 100%"></div>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%"></a>
        <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 100%"></a>
    </div>
</div>
