{{#extend "scripts"}}
<script src="/js/exchange.js"></script>
{{/extend}}

<div class="page-header">
    <h1>Currency exchange</h1>
</div>

<form class="form-inline" method="post">
    <div class="form-group">
        <div class="col-lg-10">
            <label class="sr-only" for="value">Value</label>
            <input class="form-control" id="value" name="value" type="number" value="{{data.value}}">
        </div>
    </div>
    <div class="form-group">
        <label class="sr-only" for="fromCurrency">Currency to change from</label>
        <select class="form-control" id="fromCurrency" name="fromCurrency">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <span class="glyphicon glyphicon-transfer"></span>
    <div class="form-group">
        <label class="sr-only" for="toCurrency">Currency to change to</label>
        <select class="form-control" id="toCurrency" name="toCurrency">
            <option value="EUR">EUR</option>
            <option value="USD">USD</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Exchange</button>
    </div>
</form>
